@media all and (max-width: 475px){
    
    .left-side {
        display: none;
    }
    .down-icon {
        display:inline-flex;
        padding-right: 20px;
        padding-right: 20px;
    }
    .footer-xs{
        margin-bottom: 80px;
    } 
  
} /*xs*/
@media (max-width: 476px){
    .main-side {
        width: 100%;
    }
}

@media all and (min-width: 476px){
    
    .down-icon {
        display: none;
    }
}

@media (max-width: 640px){
    .main-side {
        border: none;
    }

} /*sm*/

@media (max-width: 768px){
    .menu-nav {
        display: none;
    }
 
   

} /*md*/

@media (max-width: 1024px){
    .menu-nav img{
        display: none;
    }
    .left-side {
        width: 30%;
    }
    .profile-div{
        display: none;
    }
} /*lg*/

@media (max-width: 1280px){} /*xl*/

@media (max-width: 1536px){} /*2xl*/